:root {
  --primary-color: #333;
}

.signature-pad-form {
  display: flex;
  flex-direction: column;
  border: 0.1rem solid var(--primary-color);
  gap: 1rem;
  max-width: 25rem;
  margin: 0 auto;
  padding: 2rem;
}
header {
  text-align: center;
}
.canvas-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  align-items: center;
  justify-items: center;
}
.signature-pad {
  grid-column: 1/-1;
  cursor: url(../public/pencil.svg) 0 16, pointer;
  border: 2px solid var(--primary-color);
}
.clear-button {
  color: var(--primary-color);
  text-decoration: none;
}
.submit-button {
  background-color: var(--primary-color);
  color: #fff;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.signature-result {
  border: 2px solid var(--primary-color);
}
@media (pointer: coarse) {
  body {
    overflow: hidden; /* Need to prevent the scrolling event when signing! */
  }
}
